body{
   background-color: cornflowerblue; 
}

.nav{
    display: flex;
    gap: 15rem;
    justify-content: center;
    font-size: 2rem;
    list-style: none;
}

.nav a:hover{
    color: coral;
    transition: color 0.3s ease;
}

a{
    text-decoration: none;
    color: plum;
}

ul > .list_Item , .btn-click , .vertical-or-Horizontal, .table_title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contain-btn, .vertical-or-Horizontal{
    display: flex;
    justify-content: center;
}

.btn-click, .vertical-or-Horizontal{
    height: 5rem;
    width: 17rem;
    border-radius: 18px;
    background-color: plum;
}

.container-menu{
    justify-content: center;
}

.container-table{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    gap: 32px;
    justify-content: center;
    padding: 24px;
}

.table{
    border-collapse: collapse;
    background: white; 
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td{
    width: 36px;
    height: 36px;
    padding: 0;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    background: plum;  
    color: #fff;  
    font-weight: 600;
}

table tr .head{
    width: 9rem;
}

table tr .header:hover{
    color:coral; 
}

table tr th:hover{
    background-color: coral;
}

.container-inner-selection-area .button-section{
    display: flex;
    column-gap: 1.4rem;
    justify-content: center;
}

.container-inner-selection-area .button-section div button{
    background-color: plum;
}

.countainer-select-fire-Section{
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    margin: 32px;
}

.vertical-or-Horizontal{
    background-color: plum;
    height: -webkit-fill-available;
    border-radius: 2px;
}

.table_title{
    color: plum;
    text-align: center;
}

















